<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cloud Services</title>
    <link rel="stylesheet" href="/templates/style.css" />
</head>

<body>
      <a href="/" class="back-button-top" title="Back to Home">
        <img src="/images/back-icon.png" alt="Back" />
    </a>
    <div class="category-header">
        <img src="/images/Atlassian_Cloud.png" alt="Cloud Services Logo" />
        <h2>Cloud Services</h2>
    </div>
    <div class="logo-container">
        <div class="logo-row">
            <a href="https://videojet.atlassian.net/wiki/home" target="_blank">
                <img src="/images/confluence.png" alt="Confluence" />
            </a>
        </div>
    </div>

</body>
</html>
