<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VTI Bangalore Sites</title>
    <link rel="stylesheet" href="/templates/style.css" />
</head>
 
<body>
 
<div class="company-header">
    <img src="/images/videojet.png" alt="Videojet Logo" />
    <img src="/images/vti-logo.png" alt="VTI Logo" class="vti-logo" />
    <div class="admin-dropdown">
        <img src="/images/admin-icon.png" alt="Admin">
        <span>Admin ▼</span>
        <div class="dropdown-content">
            <a href="/admin">Login</a>
        </div>
    </div>
</div>
 
<div class="logo-container" id="tools">
</div>
 
<script src="/static/main.js"></script>
</body>
</html>
 