<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Server Services</title>
    <link rel="stylesheet" href="/templates/style.css" />
</head>

<body>
     <a href="/" class="back-button-top" title="Back to Home">
        <img src="/images/back-icon.png" alt="Back" />
    </a>
    <div class="category-header">
        <img src="/images/Atlassian_server.png" alt="Server Services Logo" />
        <h2>Server Services</h2>
    </div>

    <div class="logo-container">
        <div class="logo-row">
            <a href="https://confluence.alltec-laser.com/" target="_blank">
                <img src="/images/confluence.png" alt="Confluence" />
            </a>
            <a href="https://jira.alltec-laser.com/" target="_blank">
                <img src="/images/jira.png" alt="Jira" />
            </a>
             <a href="https://crucible.alltec-laser.com/" target="_blank">
                <img src="/images/crucible.png" alt="Crucible" />
            </a>
        </div>
        <div class="logo-row">
            <a href="https://bamboo.alltec-laser.com/" target="_blank">
                <img src="/images/bamboo.png" alt="bamboo" />
            </a>
    </div>

</body>
</html>

